@media (min-width: 768px) {
  .oe_list_buttons button.importExcel {
    margin-left: 120px;
    width: 120px;
  }
}
.modal-content .importExcel form {
  padding: 10px;
}
.modal-content .importExcel form div.form-group {
  margin: 0px;
}
